<% flash.each do |_, message| %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>

</br>
</br>
<div class='container'>
  <div class="container mb-3">
    <h2>Log in to Rently Credential Manager</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name),data: { turbo: false }) do |f| %>
    <div class="mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password', class: 'form-control' %>
    </div>
    <div class='mb-3'>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


  <%
=begin%>
 <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %> 
<%
=end%>
