<div id="<%= dom_id credential %>">
  <%= turbo_frame_tag (dom_id credential) do %>
    <p>
      <strong>Name:</strong>
      <%= credential.name %>
    </p>

    <p>
      <strong>Login:</strong>
      <%= credential.login_id %>
    </p>

    <p>
      <div style="display: flex; gap: 10px;">
        <strong>Login password: </strong>
        <div id=<%= "#{dom_id credential}_password" %>>
          <%= render 'hide_password', credential: credential %>
        </div>
        <div data-controller="copy-password" data-copy-password-cred-id=<%= credential.id %>>
          <button data-action="click->copy-password#copyValue">Copy</button>
        </div>
      </div>
    </p>

    <p>
      <strong>Created by:</strong>
      <%= User.find_by(id: credential.created_by)&.email %>
    </p>

    <p>
      <strong>Updated by:</strong>
      <%= User.find_by(id: credential.updated_by)&.email %>
    </p>

    <% if current_user.role == 1 %>
      <%= link_to "Edit this credential", edit_credential_path(credential) %>
      <br/><br/>
      <%= button_to "Destroy this credential", credential, method: :delete %>
    <% end %>
  <% end %>
</div>
