<p style="color: green"><%= notice %></p>

Name: <%= @credential.name %>
<br />
Login id: <%= @credential.login_id %>
<br />
Login password: <%= @credential.login_password %>
<br />
Created by: <%= User.find_by(id: @credential.created_by)&.email %>
<br />
Updated by: <%= User.find_by(id: @credential.updated_by)&.email %>
<br />
<br />
<br />
<div>
  <% if current_user.role == 1 %>
    <%= link_to "Edit this credential", edit_credential_path(@credential) %> |
     <%= button_to "Destroy this credential", @credential, method: :delete %>
  <% end %>
  <%= link_to "Back to credentials", credentials_path %>
</div>
